# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Cache
.cache

# Misc
*.log
.DS_Store
*.pem

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.idea
.vscode

# Documentation (if you want to keep manual formatting)
*.md
